/**************************************************************** 
Bigelow Laboratory CSS formatting for R Shiny Websites 
Omi Johnson, 10/2025

CSS is a formatting language for styling HTML websites. The structure of an R Shiny website allows for 
styling to be manipulated using CSS formatting. 

In general, CSS consists of specifying an element (by its type, class, role, or unique ID) and then specifying 
name-value pairs of styling characteristics. An HTML element has 1 type, can have a unique ID,
and can have any number of classes.

div.myClass {
  background-color: red;
  font-size: 18px;
  width: 25%;
}

R Shiny also uses Bootstrap, a CSS library which pre-styles many HTML elements and provides pre-built classes. We can 
override or add additional rules to Bootstrap styling commands to further customize our website.

Further learning resources to understand CSS, and how to edit this file if it ever breaks: 

[W3Schools CSS Tutorials](https://www.w3schools.com/Css/)
[Bootstrap Documentation](https://getbootstrap.com/docs/5.3/getting-started/introduction/)
[A Guide to Flexbox formatting](https://css-tricks.com/snippets/css/a-guide-to-flexbox/)
[CSS Specificity: How to override styles](https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_cascade/Specificity)

Right clicking + "Inspect" on most browsers will allow you to interactively explore and manipulate CSS
styling & organisation of webpages. 
*****************************************************************/

/* We can define variables in CSS to store common values or attributes. A variable is preceded by "--"
and can be accessed using var(--variable-name) later on.

These variables are based on standard values on the Bigelow website. */
:root {
  --bg: white;
  --bg-accent: #EAF2F6; /* light blue for backgrounds */
  --fg: #444;
  --fg-light: #CCC;
  --primary: #02A5DD; /* bright blue */
  --secondary: #1E4E7B; /* dark blue */
  --tertiary: #81AB1F; /* green blue */
  --danger: #D83838;
  --danger-accent: #901515;
  --font-size: 17px;
  --line-height: 28px;
  --nav-weight: 600;
  --border-thickness: 2px;
}

/***************** GENERAL ORGANISATION & STYLING OVERRIDES ***************/

/* Selects <body>...</body> element, i.e. entire webpage */
body {
  font-size: var(--font-size);
  line-height: var(--line-height);
}

/* ">" selects a direct descendant, "." means that we're selecting a class.
This snippet thus selects an element with class "container-fluid" within body. 

<body>
  <div class = "container-fluid"> ... </div>
</body>
*/
body > .container-fluid {
  padding: 0; /* padding is buffer inside of an element */
  margin: 0; /* margin is buffer outside of an element */
  display: flex; /* Flexbox styling supports dynamic positioning: see Resources */
  flex-direction: column;
  min-height: 100vh; /* "vh" = 1/100 of available vertical screen space. */
}

/* styling multiple types of elements (headers) at once using commas */
h1, h2, h3, h4, h5, h6, .navbar-header {
 font-weight: bold;
 color: var(--primary);
}

/* links */
a {color: var(--primary)}

/* Overriding default styles for "well" elements, i.e. sidebar */
.well {
  background-color: var(--bg-accent);
  border-radius: 0px;
  color: var(--secondary);
  border: none;
}

/* .form-group is the Bootstrap class applied to input elements (SliderInput, TextInput). 
This selects <label> elements directly inside a parent with class .form-group */
.form-group > label {
  font-weight: bold;
  color: var(--tertiary);
}

/* overriding default bootstrap variables that control button styling */
.btn-primary {
    --bs-btn-color: var(--bg);
    --bs-btn-hover-color: var(--bg);
    --bs-btn-active-color: var(--bg);
}
.selectize-dropdown .selected {
    background-color: #02A5DD;
    color: white !important; /* forces priority */
}

/* overrides color for slider input */
.form-group .irs--shiny .irs-single {
  color: white;
}
/* overrides color and shadow for selected date */
.datepicker table tr td.active {
  color: white !important;
  text-shadow: none !important;
}
/***************** BIGELOW CARD STYLING CLASSES ***************
A "card" is a Bootstrap element consisting of content, a header, and a footer 
(https://getbootstrap.com/docs/4.0/components/card/). By specifying CSS styles here
we are overriding the defaults for these classes.
*/

/* Percentage units are relative to the nearest parent with defined sizing or position. */
.bigelow-card.card {height: 100%;}
.bigelow-card .card-header, .bigelow-card .card-footer {
  font-weight: bold; 
  background-color: var(--secondary);
  color: var(--bg);
  height: 2.5em; /* 1 em = body font size */
  font-size: 1.2em;
  display: flex;
  align-items: center; /* Align children vertically within the element */
}
.bigelow-card .card-body {
  height: 100%;
  padding: 0;
}

/***************** CUSTOM HELPER CLASSES **************
These are classes encompassing common attributes we can apply to elements in the Shiny App.
*/

/* Will space elements horizontally using "justify" logic, vertically centered. */
.flex-justify {
 display: flex;
 flex-direction: horizontal;
 justify-content: space-between;
 align-items: center;
}

/***************** MAIN BIGELOW LAYOUT CLASSES ***************/

.bigelow-header {
 border-bottom: solid var(--border-thickness) var(--fg-light); 
 padding: 1em; 
}
/* Selects all children of elements with class bigelow-header */
.bigelow-header * { margin: 0; }

.bigelow-main-body{
  padding: 1em;
  max-width: 1200px; /* The element will not grow larger than this.*/
  margin: auto; /* Horizontally centers element */
  flex-grow: 1; /* Within a containing flexBox, this elem will grow to fit available space. */
  width: 100%;
}

.bigelow-footer {
  background-color: var(--bg-accent); 
  color: var(--secondary);
  padding: 3em; 
}

/***************** BIGELOW NAVSET BAR OVERRIDE CLASSES **************
These commands override defined variables or presets in bootstrap nav bars. Variables & selectors are 
identified by inspecting every_navbar_known_to_man.R

Targeted changes: 
Unselected color is --primary, selected color is --secondary
Border color and width align with Bigelow standards
Nix rounded corners on pill style tabs
Underline should be positioned just underneath lower border rather than just abov
*/

/* Nav content will grow to fill the page (assumes presence of bigelow footer) */
body>.container-fluid>.navbar+.container-fluid:has(>.tab-content>.tab-pane.active.html-fill-container) {
  flex-grow: 1;
}

/* Tab-style nav bar styling */
.tabbable .nav-tabs {
  --bs-nav-tabs-border-width: var(--border-thickness);
}

/* Pill-style */
.nav-pills {
  --bs-nav-pills-border-radius: 0;
  --bs-nav-pills-link-active-color: var(--bg);
  --bs-nav-pills-link-active-bg: var(--secondary);
}
.nav-pills#hover {
  color: var(--secondary);
}

.nav-link {
  --bs-nav-link-hover-color: var(--secondary);
  --bs-nav-link-font-size: 1em;
  --bs-nav-link-font-weight: bold;
  font-weight: var(--nav-weight); /* I couldn't actually find the font they use on the official website */
}

/* The SVG image Bigelow uses for hamburger menus is saved to images but I have no clue how to override 
the default styling. We leave it as grey. */
.navbar-toggle {
  border: 1px solid transparent;
  border-radius: 0;
  color: var(--fg-light);
}

/* Underline styling: must account for differing structure for tabbable inline constructions vs full width navbar */

.nav-underline .nav-link:not(:empty).active {
  font-weight: var(--nav-weight); /* normally they make the weight a little lighter, which is odd */
}
/* overriding bootstrap variables lets us alter colors and thickness */
.navbar, .navbar .navbar-brand, .navbar .navbar-nav {
  --bslib-navbar-light-bg: var(--bg);
  --bslib-navbar-dark-bg: var(--bg);
  --bs-navbar-brand-color: var(--secondary);
  --bs-navbar-brand-hover-color: var(--secondary);
  --bs-nav-link-color: var(--primary);
  --bs-navbar-active-color: var(--secondary);
}
.nav-underline {
  --bs-link-color: var(--primary);
  --bs-nav-underline-link-active-color: var(--secondary);
}
.bslib-page-navbar .navbar, .tabbable .nav, .navbar {
  --bs-nav-underline-link-active-color: var(--secondary);
  border-bottom: solid var(--border-thickness) var(--fg-light);
  color: var(--primary),
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.active {
  --bs-nav-underline-link-active-color: var(--secondary);
  --bs-navbar-active-color: var(--secondary);
}
/* bumps the items in an underlined list down so their bottom border is flush underneath the 
dividing header line (compare to Bigelow website) */
.nav.nav-underline, .navbar > div {
  position: relative; 
  bottom: var(--border-thickness);
} 
.nav.nav-underline > *, .navbar > div > * {
  position: relative; 
  bottom: calc(-2 * var(--border-thickness));
} 

/* Sidebar styling */
.well li.navbar-brand {
  font-weight: bold;
  font-size: 1.4em;
  padding-bottom: .5em;
}
.well .nav {
  --bs-nav-link-padding-x: .5rem;
  --bs-nav-link-padding-y: 0rem;
}
.well .nav-pills {
  --bs-nav-pills-link-active-color: var(--secondary);
  --bs-nav-pills-link-active-bg: transparent;
}
.well .nav-pills>li>a {
  border-left: solid 2px var(--bg-accent);
  margin: 0 0 5px 5px;
  font-weight: normal;
}
.well .nav-pills>li>a:hover { border-left: solid var(--border-thickness) var(--secondary); }
.well .nav-pills>li>a.active { font-weight: var(--nav-weight); }

/* Dropdown menu styling for navbars */
.nav-item .dropdown-menu {
    --bs-dropdown-bg: var(--primary);
    --bs-dropdown-link-color: var(--bg);
    --bs-dropdown-link-active-color: var(--bg);
    --bs-dropdown-padding-x:.5em;
    --bs-dropdown-padding-y: 0em;
    padding: .5em;
    color: var(--bg);
    border: none;
}
/* space list elements apart slightly */
.nav-item .dropdown-menu>li:not(:last-child) {margin-bottom: 5px;}

/* Add a left border. When hovered or active, display left border as white. */
.nav-item .dropdown-menu>li>a {
  border-left: solid var(--border-thickness) var(--primary);
  padding: var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x);
}
.nav-item .dropdown-menu>li>a.active, .nav-item .dropdown-menu>li>a:active,
.nav-item .dropdown-menu>li>a:hover {
  color: var(--bs-dropdown-link-active-color);
  text-decoration: none;
  background-color: var(--bs-dropdown-link-active-bg);
  border-left: solid var(--border-thickness) var(--bg);
}
